*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0e5e5;
    font-family: Arial, Helvetica, sans-serif;
}
.title{
    text-align: center;
    font-size: 44px;
}
.container{
    background-color: white;
    width: 500px;
    height: 180px;
    border-radius: 15px;
    padding: 40px ;
    box-shadow: 0 0 10px rgba(0,0,0, 0.3);

}
#showBtn{
margin: 20px 0;
padding: 14px 40px;
background-color: #222;
color: white;
cursor: pointer;
border-radius: 7px;
border: none;
}
#showBtn:hover{
    background-color:rgb(119, 5, 5);
}
#message{
    margin-top: 10px;
    font-size: 16px;
}
